@import "~normalize.css/normalize.css";
@import "~react-big-calendar/lib/css/react-big-calendar.css";
// @import "~antd/lib/date-picker/style/index.css";

.main_container {
  width: 100%;
  height: 100%;
  #app {
   width: 100%;
   height: 100%;
  }
}
